
.project-container{
  height: auto;
  width: 100%;
  background-color: whitesmoke;
}.project-header span{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
}
.project-header span h1{
  color: #252525;
  font-size: 5rem;
}
.project-header span p{
  text-align: center;
  color: #252525;
}
#p{
background: #252525;
height: 50px;
width: 2px;
}
.details-container{
  display: flex;
  height: 85vh;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.project-content{
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.project-content span{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;

}
.project-content span p{
width: 80%;
line-height: 30px;

}
.project-image{
  display: flex;
  width: 500px;
  height: 500px;
}
.project-image img{
  width: 100%;
  height: 100%;
}
.details-container:nth-child(odd) {
  flex-direction: row;
}
.project-container .details-container,span
  {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 25%;
  }
  @keyframes appear {
    from {
      opacity: 0;
      scale: 0.5;
    }
    to {
      opacity: 1;
      scale: 1;
    }
  }
  @media (max-width: 1024px) {
    .project-header span h1 {
        font-size: 4rem;
    }

    .project-header span p {
        font-size: 0.9rem;
    }

    .project-content {
        width: 60%;
    }

    .project-image {
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 768px) {
    .project-header span {
        flex-direction: column;
        gap: 20px;
    }

    .project-header span h1 {
        font-size: 3rem;
    }

    .project-header span p {
        font-size: 0.8rem;
    }

    .details-container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .project-content {
        width: 80%;
    }

    .project-image {
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 480px) {

    .project-header span h1 {
        font-size: 3rem;
    }
    .details-container {
      flex-direction: column;
      align-items: center;
      padding: 20px;
      height: 110vh;
  }
    .details-container:nth-child(odd) {
      flex-direction: column;
    }
    .project-header span p {
        font-size: 1rem;
    }

    .project-content {
        width: 100%;
        margin: 15px;
    }
    .project-content span p{
     font-size: 0.5rem;
     line-height: 20px;
     margin:  0px 10px;
  }
  .project-content span{
    flex-direction: column;
  }
  .project-content  span h1{
    font-size: 2rem;
 }
    .project-image {
        width: 320px;
        height: 350px;
    }
    #p{
      height: 30px;
    }
}

.btn-2{
  display: flex;
  margin:20px auto;
  align-items: center;
  justify-content: center;
}