.ready {
  height: 60vh;
  color: #fff;
  background-color: #384042;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px; /* Added padding for better spacing */
  box-sizing: border-box; /* Ensures padding is included in height calculation */
}
.ready h1{
  text-transform: uppercase;
}
.ready p {
  font-size: 1.1rem;
}

.button-2 {
  height: 52px;
  padding: 0 30px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #384042;
  background: #ffff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: all .2s ease-in-out;
  font-family: "Quattrocento Sans", sans-serif; /* Added fallback font */
}

.button-2:hover {
  background-color: #da9f86;
  color: #fff;
}

.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px; /* Added padding for better spacing */
}

.content-container h1 {
  font-size: 5rem;

}

/* Responsive styles */
@media (max-width: 1200px) {
  .ready {
    height: 50vh;
  }

  .content-container h1 {
    font-size: 4rem;
  }
}

@media (max-width: 992px) {
  .ready {
    height: 45vh;
  }

  .content-container h1 {
    font-size: 3.5rem;
  }

  .button-2 {
    font-size: 16px;
    padding: 0 15px;
  }
}

@media (max-width: 768px) {
  .ready {
    height: 40vh;
  }

  .content-container h1 {
    font-size: 3rem;
  }

  .button-2 {
    font-size: 14px;
    padding: 0 10px;
  }
}

@media (max-width: 576px) {
  .ready {
    height: 45vh;
    padding: 10px; /* Reduced padding for smaller screens */
  }

  .content-container h1 {
    font-size: 2.5rem;
  }

  .button-2 {
    font-size: 18px;
    padding: 0 30px;
  }
}
