.services-container {
  width: 100%;
  background-color: whitesmoke;
  padding: 20px 0;
}

.services-container span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
}

.services-container span h1 {
  color: #da9f86;
  font-size: 5rem;
}

.services-container span p {
  color: #384042;
  margin: 10px;
}

#f {
  background: #384042;
  height: 50px;
  width: 2px;
}

.service {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px;
}

.service .service-box {
  position: relative;
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  color: #384042;
  margin-bottom: 50px;
}

.service-box:hover {
  transform: translateY(-5px) scale(1.005);
}

.service-box:hover h1 {
  color: #da9f86;
}
.service-text {
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  bottom: -80px;
  left: 40px;
  right: 0;
  width: 100%;
  height: 180px;
  padding: 10px;
}

.service-text h1 {
  font-size: 2.4rem;
  text-transform: uppercase;

}

.service-text p {
  font-size: 1rem;
  font-weight: 500;
}

.circle {
  width: 100%;
  height: 90%;
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.service-box,
.services-container span {
  animation: appear 0.5s ease-in-out;
}

@media (max-width: 1024px) {
  .services-container span h1 {
    font-size: 4rem;
  }

  .services-container span p {
    font-size: 1rem;
  }

  .service .service-box {
    width: 300px;
    height: 400px;
  }
}

@media (max-width: 768px) {
  .services-container span {
    flex-direction: column;
    text-align: center;
  }

  .services-container span h1 {
    font-size: 3rem;
  }

  .services-container span p {
    font-size: 0.9rem;
  }

  .service .service-box {
    width: 250px;
    height: 300px;
  }
}

@media (max-width: 480px) {
  .services-container span h1 {
    font-size: 2.5rem;
  }

  .services-container span p {
    font-size: 0.8rem;
  }

  .service .service-box {
    width: 200px;
    height: 250px;
  }

  .service-text h1 {
    font-size: 2rem;
  }

  .service-text p {
    font-size: 0.8rem;
  }
.service-text{
  height: 155px;
}
  .circle {
    width: 250px;
    height: 250px;
  }

  .circle img {
    width: 100%;
    height: 100%;
  }
}
