.tagline-container {
  background-color: #384042;
  height: 110vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  color: #ffffff;
}

.tagline-text {
  display: flex;
  width: 100%;
}

.tagline-text span {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  transition: all .5s ease-in-out;
}

.tagline-text p {
  font-size: 1rem;
  width: 50%;

}

.tagline-text h1 {
  font-size: 5rem;
  text-align: center;
}

.tagline-text #g {
  background: #ffffff;
  height: 2px;
  width: 2px;
}

.tagline-container {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 25%;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}

@media (max-width: 1024px) {
  .tagline-text h1 {
    font-size: 4rem;
  }

  .tagline-text p {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .tagline-text h1 {
    font-size: 3rem;
  }

  .tagline-text p {
    font-size: 0.8rem;
    width: 70%;
  }

  .tagline-text span {
    flex-direction: column;
  }

  .tagline-text #g {
    height: 40px;
  }
}

@media (max-width: 480px) {
  .tagline-text h1 {
    font-size: 3rem;
  }
.tagline-container{
  height: 85vh;
}
  .tagline-text p {
    font-size: 0.7rem;
    width: 90%;
  }

  .tagline-text #g {
    height: 30px;
  }
}