.testimonials-container {
    height: auto;
    width: 100%;

}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.content h1 {
    text-align: center;
    font-size: 5rem;
    color: #da9f86;
    margin: 0; /* Remove default margin */
}

.content h2 {
    text-align: center;
    font-size: 2.5rem;
    color: #384042;
}

.test-1, .test-2 {
    display: flex;
    overflow: hidden;
}

.test-1 {
    width: 100%;
}

.test-2 {
    flex-direction: row-reverse;
}

.testimonial {
    padding: 20px;
    background-color: whitesmoke;
    width: 350px;
    height: 200px;
    margin: 15px;
    border-radius: 5px;
    cursor: pointer;
    perspective: 100px;
    transition: all .5s ease-in-out;
}

.testimonial:hover {
    background-color: #384042;
    color: white;
    transform: translateY(-10px);
}

.testimonial:hover h3 {
    color: #da9f86;
}

.rating {
    margin-bottom: 10px; /* Space between rating and testimonial text */
}

.star {
    font-size: 1.5em; /* Size of the star icons */
    color: #f39c12; /* Gold color for filled stars */
}

.star:last-child {
    color: #ddd; /* Gray color for unfilled stars */
}

@keyframes appear {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.testimonials-container {
    animation: appear 1s linear;
}

/* Responsive styles */
@media (max-width: 1024px) {
    .content h1 {
        font-size: 4rem;
    }
    .content h2 {
        font-size: 2rem;
    }
    .testimonial {
        width: 300px;
        height: 180px;
    }
}

@media (max-width: 768px) {
    .content h1 {
        font-size: 3rem;
    }
    .test-1 p {
        font-size: .85em;
    }
    .test-2 p {
        font-size: .85em;
    }
    .content h2 {
        font-size: 1.8rem;
    }
    .testimonial {
        width: 250px;
        height: 160px;
    }
}

@media (max-width: 480px) {
    .content h1 {
        font-size: 3rem;
        text-transform: uppercase;
    }
    .content h2 {
        font-size: 1.2rem;
    }
    .testimonial {
        width: 240px;
        height: 170px;
    }
}
