.viewproject-container {
  margin-top: 50px;
  height: auto;
}

.project-view {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100vh;
}

.info {
  width: 60%;
  margin: 20px;
}

.info h1 {
  font-size: 5rem;
  color: #ffff;
}

.problem h1,
.solution h1,
.related-Projects h1 {
  font-size: 4rem;
  color: #43372d;
}

.info p {
  line-height: 30px;
  color: #ffff;
}

.problem p,
.solution p {
  line-height: 30px;
  color: #43372d;
  padding: 20px;
}

.problem,
.solution,
.related-Projects {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.problem-image,
.solution-image {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, auto));
  gap: 20px;
  justify-content: space-evenly;
  margin: 40px;
}

.problem-image img,
.solution-image img {
  width: 100%;
  height: 100%;

}

.p-image {
  background-color: white;
  padding: 10px;
}