@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&family=Varela+Round&display=swap');body {
  margin: 0;
  font-family: "Quattrocento Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #FFEFBA;  fallback for old browsers 
  background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);   Chrome 10-25, Safari 5.1-6 
  background: linear-gradient(to right, #FFFFFF, #FFEFBA);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background: #0F2027;  /* fallback for old browsers */
background: linear-gradient(115deg, #fdfcfb, #e2d1c3);
  

}  
code {
  font-family: "Quattrocento Sans", sans-serif;
}
